# Config parameters for Hesiod
LOG_DIR=~pipeline/hesiod/logs

# Not yet used...
STALL_TIME=''

# Marks cells as deletable
DEL_REMOTE_CELLS=yes

# This is needed due to missing certs in the Python certifi package:
export REQUESTS_CA_BUNDLE=/etc/pki/tls/certs/ca-bundle.crt

# We may have multiple UPSTREAM locations, ie. instruments. In which case you could set
# UPSTREAM="EGS1 EGS2 LOANER1". But for now just one box.
UPSTREAM="EGS1"
UPSTREAM_EGS1=prom@promethion:/data

PROM_RUNS=/lustre/promethion/prom_runs
FASTQDATA=/lustre/promethion/prom_fastqdata

# For production, use the real RT and use the global partition on SLURM
RT_SYSTEM=production-rt
CLUSTER_QUEUE=casava

# Provide a sync command as a template that may access:
#   {upstream}      - The full path as per column 2 of the remote info
#   {upstream_host} - eg prom@promethion
#   {upstream_path} - eg /data/testrun
#   {cell}          - col 3 - eg. testlib/20190710_1723_2-A5-D5_PAD38578_c6ded78b
#   {run}           - col 1 - eg. 20190710_TEST_testrun
SYNC_CMD="rsync -vrltR --modify-window=5 \${upstream}/./\${cell} ${PROM_RUNS}/\${run}/"
## Or this should be faster but only works for /mnt/lustre/promethion:
# SYNC_CMD="ssh -T \${upstream_host} rsync -vrltR --modify-window=5 \${upstream_path}/./\${cell} /mnt/lustre/promethion/prom_runs/\${run}/"
# SYNC_CMD="ssh -T \${upstream_host} rsync -vrltR --size-only --append \${upstream_path}/./\${cell} /mnt/lustre/promethion/prom_runs/\${run}/"

# If you want different sync commands for different upstream hosts then this is not yet supported.
# I'm imagining if we get another Promethion we'll just set it up the same.

# Reports reports reports
REPORT_DESTINATION=web1.genepool.private:/var/runinfo/hesiod_reports
REPORT_LINK=http://web1.genepool.private/runinfo/hesiod_reports
