.idea/
*.pyc
__pycache__
*.swp
.nfs*
*.sqlite
*.touch
.~lock*

tmp/
.snakemake
/snakemake_profile/
sge_output
_*_venv*/
doc/*.ps
doc/*.pdf
reports/*.pdf

# This is volatile and used for tinkering/testing
environ.sh
environ.*.sh
